@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #fff;

  #side_Content {
    display: grid;
    grid-template-columns: 240px 760px 440px;
    grid-template-rows: 100vh;

    .header {
      display: flex;
      flex-direction: column;
      border-right: 1px solid rgba(132, 151, 164, 0.2);
      overflow: hidden;
      .container {
        display: flex;
        flex-direction: column;
        margin: 5px;
        margin-top: 10px;
        font-family: "Urbanist", sans-serif;

        #paragrach {
          padding: 5px;
          font-size: 17px;
        }
        #page_name {
          color: rgb(245, 245, 245);
          padding: 20px;
          font-weight: 100;
          font-size: 30px;
          font-family: "Noto Sans NKo", sans-serif;
          font-family: "Satisfy", cursive;
        }
        #button {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 5px;
          border: none;
          outline: none;
          background-color: black;
          color: #fff;
          margin: 6px;
          font-family: "Urbanist", sans-serif;
        }
        .link {
          display: flex;
          align-items: center;
          color: #fff;
          text-decoration: none;
          .width {
            width: 220px;
            height: 40px;
            font-size: 17px;
          }
        }
        #img {
          width: 30px;
          height: 30px;
          border-radius: 50px;
        }
        .menu {
          position: relative;
          top: 230px;
        }
        #button:hover {
          background-color: #24282e;
          border-radius: 20px;
        }
      }
    }
    .section {
      overflow: scroll;
      font-family: "Urbanist", sans-serif;

      #border {
        width: 440px;
        margin: auto;
        margin-top: 40px;

        #a {
          display: flex;
          align-items: center;
          justify-content: space-between;

          .my {
            display: flex;
            align-items: center;
            #charlesDP {
              width: 45px;
              height: 45px;
              border-radius: 50px;
              padding: 5px;
              cursor: pointer;
            }
            #charlesUserName {
              font-family: "Urbanist", sans-serif;
              font-size: 13px;
            }
            #charlesUserName:hover {
              color: rgba(243, 250, 255, 0.549);
            }

            #verifiedIcon {
              font-size: 14px;
              color: #1877f2;
              margin: 5px;
              cursor: pointer;
            }
          }
          #list {
            font-size: 12px;
            cursor: pointer;
          }
          #list:hover {
            color: rgba(243, 250, 255, 0.549);
          }
        }
        #b {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid rgba(126, 127, 128, 0.691);
          border-radius: 10px;
          .navigate_before_button {
            position: relative;
            left: 30px;
            border-radius: 40px;
            outline: none;
            border: none;
            cursor: pointer;
            background-color: rgba(234, 246, 255, 0.597);
            #navigate_before {
              color: #24282e;
              font-size: 20px;
            }
          }
          .navigate_next_button {
            position: relative;
            right: 30px;
            border-radius: 40px;
            outline: none;
            border: none;
            cursor: pointer;
            background-color: rgba(234, 246, 255, 0.597);
            #navigate_next {
              color: #24282e;
              font-size: 20px;
            }
          }
          #p {
            width: 85%;
            height: 79vh;
          }
        }
        #c {
          border-bottom: 1px solid rgba(243, 250, 255, 0.549);
          font-family: "Urbanist", sans-serif;
          .l_s_c_s {
            display: flex;
            align-items: center;
            justify-content: space-between;
            #l_c_s {
              display: flex;
              align-items: center;
              .button {
                border: none;
                outline: none;
                background-color: black;
                padding: 5px;
                margin: 4px;
                cursor: pointer;
                #buttonNum1:hover {
                  fill: rgba(243, 250, 255, 0.549);
                }
              }

              .button2 {
                border: none;
                outline: none;
                background-color: black;
                padding: 5px;
                margin: 4px;
                cursor: pointer;
                #buttonNum2:hover {
                  color: rgba(243, 250, 255, 0.549);
                }
              }
              .button3 {
                border: none;
                outline: none;
                background-color: black;
                padding: 5px;
                margin: 4px;
                cursor: pointer;
                #buttonNum3:hover {
                  color: rgba(243, 250, 255, 0.549);
                }
              }
            }
            .button4 {
              border: none;
              outline: none;
              background-color: black;
              padding: 5px;
              margin: 4px;
              cursor: pointer;
              #buttonNum4:hover {
                color: rgba(243, 250, 255, 0.549);
              }
            }
          }
          #commentsSection_container {
            display: flex;
            align-items: center;
          }
          .CommentDisplay {
            color: rgba(243, 250, 255, 0.549);
            padding: 6px;
            font-family: "Urbanist", sans-serif;
          }
          #inputComment {
            outline: none;
            border: none;
            background-color: black;
            color: #fff;
            width: 98%;
            padding: 5px;
            font-family: "Urbanist", sans-serif;
            margin: 4px;
          }
        }
        .listMenu {
          display: none;
          flex-direction: column;
          position: relative;
          bottom: 686px;
          left: 90px;
          border: 1px solid #24282e;
          border-radius: 9px;
          padding: 1px;
          width: 90%;
          background-color: #282828;

          #menuButton {
            background-color: #282828;
            color: #fff;
            padding: 17px;
            outline: none;
            border: none;
            border-bottom: 1px solid #363738;
            #report {
              color: #fa383e;
            }
            #unfollow {
              color: #fa383e;
            }
          }
          #menuButtonCancel {
            background-color: #282828;
            color: #fff;
            padding: 17px;
            outline: none;
            border: none;
          }
        }
      }
    }
    .footer {
      display: flex;
      flex-direction: column;
      font-family: "Urbanist", sans-serif;
      #archibongezekie_Profile {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .archibongezekie_Picture_Container {
          display: flex;
          align-items: center;
          padding: 10px;

          #archibongezekie_Picture {
            width: 60px;
            height: px;
            border-radius: 50px;
            padding: 5px;
          }
          a {
            text-decoration: none;
          }
          .userName_userIgName_Container {
            display: flex;
            flex-direction: column;
            padding: 5px;
            #archibongezekie_userName {
              color: #fff;
            }
          }
          #Ezekiel_Archiong {
            color: rgba(243, 250, 255, 0.549);
          }
        }
        .switchAccount_Container {
          position: relative;
          right: 80px;

          a {
            text-decoration: none;
            color: #1877f2;
          }
        }
      }
      .Suggested_For_You {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        #Suggestion {
          color: rgba(243, 250, 255, 0.549);
          padding-left: 19px;
        }
        #see_All {
          padding: 10px;
          color: #fff;
          position: relative;
          right: 70px;
        }
        #see_All:hover {
          color: rgba(243, 250, 255, 0.549);
        }
      }
      .kiely_Wrld_Profile_Container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        position: relative;
        left: 10px;
        font-size: 15px;
        #kielyWrld_picture_container {
          display: flex;
          align-items: center;
          padding: 5px;
        }
        #kiely_Wrld_photo {
          width: 45px;
          height: 45px;
          border-radius: 50px;
          padding: 5px;
        }
        a {
          text-decoration: none;
        }
        .userName1_userIgName1_Container {
          display: flex;
          flex-direction: column;
          padding: 5px;
          #kiely_Wrld_userName {
            color: #fff;
          }
          #Ezekiel_Bassey {
            color: rgba(243, 250, 255, 0.549);
          }
        }
        .follow_Container1 {
          position: relative;
          right: 50px;
          #f {
            text-decoration: none;
            color: #1877f2;
          }
          #f:hover {
            color: white;
          }
        }
      }
      #page_information_Container {
        display: flex;
        flex-direction: column;
        width: 400px;
        position: relative;
        left: 10px;
        top: 35px;
        padding: 4px;
        font-size: 14px;
        font-family: "Urbanist", sans-serif;
        color: rgba(243, 250, 255, 0.549);
        .page_information {
          display: flex;
          align-items: center;

          .b {
            margin: 5px;
          }
          .b:hover {
            border-bottom: 1px solid rgba(243, 250, 255, 0.549);
          }
        }
        .about_page {
          display: flex;
          align-items: center;
          .b {
            margin: 5px;
          }
          .b:hover {
            border-bottom: 1px solid rgba(243, 250, 255, 0.549);
          }
          #language_selection {
            appearance: none;
            border: none;
            outline: none;
            background-color: black;
            color: rgba(243, 250, 255, 0.549);
            font-family: "Urbanist", sans-serif;
            margin: 5px;
          }
        }
        #copy_right {
          display: flex;
          align-items: center;
          margin-top: 15px;
        }
      }
      .ezekielDashboard {
        border-radius: 40px;
        font-family: "Urbanist", sans-serif;
        position: relative;
        bottom: 40%;
        display: none;
        width: 80%;

        #ezekielSuggestion_container {
          display: flex;
          align-items: center;
          background-color: black;
          margin-left: 5px;
          padding: 10px;

          #ezekielRandom_Photo {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            padding: 8px;
          }
          #ezekielRandom_Name,
          #ezekielRandom_UserName {
            font-size: 14px;
          }
          .ezekielSuggestion_Name_container {
            display: flex;
            flex-direction: column;
            padding: 10px;
            font-family: "Urbanist", sans-serif;
            font-size: 15px;
          }
        }
        .ezekielPost_Follower_Following {
          display: flex;
          justify-content: space-around;
          border-bottom: 1px solid rgba(243, 250, 255, 0.549);
          font-family: "Urbanist", sans-serif;
          background-color: black;
          padding: 10px;
          #ezekielPosts,
          #ezekielFollower,
          #ezekielFollowing {
            text-align: center;
            padding: 10px;
            font-family: "Urbanist", sans-serif;
            background-color: black;
            font-size: 13px;
          }
        }
      }
      #ezekielPost_center {
        text-align: center;
        padding: 10px;
        font-family: "Urbanist", sans-serif;
        background-color: black;
        font-size: 13px;
        #ezekielAdd_post {
          margin: 10px;
          font-size: 13px;
        }
        #ezekielAdd_a_photo_icon {
          font-size: 4vh;
          background: linear-gradient(black, black) padding-box,
            linear-gradient(to right, orange, darkorchid) border-box;
          border-radius: 50em;
          border: 2px solid transparent;
          padding: 10px;
        }
        #ezekiel1 {
          font-size: 16px;
        }
        #ezekiel_p {
          margin: 13px;
          padding: 10px;
          border-bottom: 1px solid rgba(243, 250, 255, 0.549);
          background-color: black;
          font-size: 13px;
        }
        .ezekielFollow_button {
          outline: none;
          border: none;
          background: #1877f2;
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 5px;
          border-radius: 5px;
          margin: auto;
          width: 79%;
          font-size: 15px;
          font-family: "Urbanist", sans-serif;
        }
      }
      #graces {
        border-radius: 40px;
        font-family: "Urbanist", sans-serif;
        position: relative;
        bottom: 40%;
      }
    }
  }
}
