@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Satisfy&family=Zilla+Slab:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+NKo&family=Satisfy&family=Zilla+Slab:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  cursor: pointer;
  border: 1px solid red;
}
#side_Content {
  display: grid;
  grid-template-columns: 240px 755px 230px;
  grid-template-rows: 100px;
}
.header {
  color: white;
  border: 1px solid blue;
  text-align: center;
}
.section {
  color: #fff;
  border: 1px solid orange;
  text-align: center;
  overflow: scroll;
}
.footer {
  color: #fff;
  border: 1px solid white;
  text-align: center;
}
.head {
  display: flex;
  position: fixed;
}
.grid-container {
  display: grid;
  grid-template-columns: 248px 741px 436px;
  grid-template-rows: 100vh;
  flex-direction: column;
}

#header {
  color: aliceblue;
}
#section {
  color: white;
  border: 1px solid rebeccapurple;
}
#footer {
  color: white;
  border: 1px solid blue;
}
#main_heading {
  display: flex;
  flex-direction: column;
  width: 238px;
  height: 110vh;
  border-right: 1px solid rgba(132, 151, 164, 0.2);
}
#scroll {
  display: flex;
}
#pageName_container {
  margin-left: 19px;
  width: 205px;
  margin-bottom: 10px;
  padding: 11px;
}
#page_Name {
  font-weight: 100;
  font-size: 30px;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  color: rgb(245, 245, 245);
  padding-top: 20px;
}
.image_container {
  display: flex;
  align-items: center;
  color: rgb(245, 245, 245);
  padding: 10px;
  width: 205px;
  margin-left: 20px;
  margin-top: 15px;
  border-radius: 10px;
}
#img {
  width: 35px;
  border-radius: 20px;
}
#button {
  outline: none;
  border: none;
  background-color: black;
  color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  padding: 6px;
  margin-top: 4px;
  margin-left: 20px;
  width: 205px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: font-size ease-out 0.1s;
  transform: translateZ(0);
  transition: 2s;
  text-align: center;
}

/* animated to css */
#explore,
#home,
#reel,
#search,
#Messages,
#notifications,
#create,
#profile,
#more_container {
  text-align: center;
  height: 54px;
}
#button:hover {
  font-size: 18px;
}

p {
  padding: 7px;
}
#more_container {
  position: relative;
  top: 24vh;
}

#user_Name {
  font-size: 12px;
}
#user_pic {
  border-radius: 300px;
  width: 40px;
}

.color {
  color: white;
  height: auto;
  width: 80%;
}
.user_data {
  border: #1877f2;
}
#flex {
  display: flex;
  overflow: scroll;
  width: 79%;
  position: relative;
  left: 35vh;
}

#up_profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  width: 90%;
  height: 60px;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}
#profile_border {
  display: flex;
}
.c {
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid rgba(132, 151, 164, 0.2);
  width: 60%;
  margin: auto;
  margin-top: 20px;
  border: 1px solid red;
  height: 100vh;
  color: white;
}
#line {
  display: flex;
  align-items: center;
  gap: 2px;
}
#list_Menu {
  gap: 5px;
  font-size: 10px;
}
#verified {
  font-size: 15px;
  margin-left: 5px;
  background-color: #1877f2;
  color: white;
  border-radius: 30px;
}
#audio {
  text-align: start;
}

#preiod {
  margin: 1px;
}
.my {
  display: flex;
  align-items: center;
  padding-left: 5px;
}
.user_data {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
#image_container {
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  width: 90%;
  justify-content: center;
  border: 2px solid rgba(132, 151, 164, 0.2);
  height: vh;
}
#posted {
  height: 700px;
  width: 340px;
}
.navigate_before_button {
  position: relative;
  left: 37px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: rgba(132, 151, 164, 0.2);
  color: white;
}
.navigate_next_button {
  position: relative;
  right: 34px;
  background-color: transparent;
  outline: none;
  border: none;
}
#navigate_next,
#navigate_before {
  font-size: 25px;
  color: rgba(132, 151, 164, 0.2);
  background-color: #fff;
  border-radius: 330px;
}
#friends_suggestion_container {
  color: white;
  display: flex;
  flex-direction: column;
  width: 435px;
  padding: 13px;
  position: relative;
  height: 80%;
  border: 1px solid blue;
  position: relative;
  left: 350px;
}
#like_comment_share_save {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3px;

  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.f_c_s_s {
  display: flex;
  align-items: center;
}
#charles_like_button {
  font-size: 30px;
  margin: 7px;
}
#comment {
  font-size: 30px;
  margin: 7px;
}
#share {
  font-size: 30px;
  margin: 7px;
}
#book {
  font-size: 30px;
}
#font {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
}
#caption_container {
  padding-top: 0px;
  border: 1px solid rebeccapurple;
  height: 200px;
}
#caption_Name {
  padding: 0;
  font-size: 16px;
}
.caption {
  font-weight: 100;
  font-size: 15px;
}
.like_number {
  font-size: 15px;
  font-style: normal;
  font-weight: 100;
}
.View_comment {
  color: rgba(243, 250, 255, 0.549);
  display: block;
}
p {
  padding: 1px;
}
#comment_section {
  width: 100%;
  outline: none;
  border: none;
  background-color: black;
  padding: 10px;
  color: white;
  margin-top: 10px;
}
#input_comment {
  display: flex;
  align-items: center;
}
#post {
  display: none;
  color: #1877f2;
  padding: 5px;
  font-size: 15px;
}
#post3 {
  display: none;
  color: #1877f2;
  padding: 5px;
  font-size: 15px;
}
#charles_Post_Button {
  display: none;
  color: #1877f2;
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: black;
}
#image2 {
  width: 40px;
  height: 39px;
  border-radius: 50px;
  padding: 2px;
}
.user-info-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-info {
  display: flex;
  align-items: center;
  width: 72%;
  padding: px;
}
.user_friends_suggestion {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6px;
}
#image {
  width: 50px;
  border-radius: 50px;
}
#Suggestion_dashbaord {
  box-sizing: border-box;
  width: 96%;
  height: 370px;
  padding: 7px;
  border-radius: 10px;
  position: absolute;
  top: 200px;
  background-color: black;
  display: none;
}

.dashboard {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
  padding: 10px;
}
#title_name_img {
  display: flex;
  align-items: center;
}
#title_name {
  display: flex;
  flex-direction: column;
}
#follower_post_following {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
  color: white;
  margin: auto;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Zilla Slab", serif;
}
#h1 {
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Zilla Slab", serif;
  font-size: 30px;
}
#p {
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Zilla Slab", serif;
}
#posts,
#follower,
#following {
  text-align: center;
  background-color: black;
}
#post_center {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
  padding: 10px;
}
#add_post {
  margin: auto;
  text-align: center;
}
#add_a_photo_icon {
  font-size: 5vh;
  background: linear-gradient(black, black) padding-box,
    linear-gradient(to right, orange, darkorchid) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  padding: 5px;
}
.follow_button_container {
  width: 100%;
  margin-top: 20px;
}
.follow_button {
  outline: none;
  border: none;
  background: #1877f2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  border-radius: 5px;
  margin: auto;
  width: 90%;
  font-size: 20px;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
  font-family: "Zilla Slab", serif;
}
#icon {
  font-size: 25px;
  padding: 3px;
}
.user_Names {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.gap {
  position: relative;
  right: 79px;
  font-size: 14px;
}
#link:hover {
  color: white;
}
#all:hover {
  color: rgba(243, 250, 255, 0.549);
}
#myusername,
#all {
  color: rgb(245, 245, 245);
}

#ussername {
  color: rgba(243, 250, 255, 0.549);
  font-size: 14px;
}
.for_you {
  color: rgba(243, 250, 255, 0.549);
  font-size: 15px;
  padding: 5px;
}
#image1 {
  width: 40px;
  height: 39px;
  border-radius: 50px;
  padding: 2px;
}
a {
  text-decoration: none;
  color: #1877f2;
}
#d {
  display: flex;
  border: 5px solid white;
  width: 160%;
  overflow: scroll;
}
.about_page,
#copy_right,
#about_page {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: rgba(243, 250, 255, 0.549);
}
#about,
#help,
#press,
#api,
#job,
#privacy,
#terms,
#locate,
#lang,
#meta {
  padding: 0px;
  margin: 5px;
}
#about:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}

#help:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#press:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#api:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#job:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#privacy:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#terms:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#locate:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#lang:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#meta:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
#copy_right {
  margin-top: 20px;
}
#about_page {
  margin-top: 20px;
}
