@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: #fff;
}
body #side_Content {
  display: grid;
  grid-template-columns: 240px 760px 440px;
  grid-template-rows: 100vh;
}
body #side_Content .header {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(132, 151, 164, 0.2);
  overflow: hidden;
}
body #side_Content .header .container {
  display: flex;
  flex-direction: column;
  margin: 5px;
  margin-top: 10px;
  font-family: "Urbanist", sans-serif;
}
body #side_Content .header .container #paragrach {
  padding: 5px;
  font-size: 17px;
}
body #side_Content .header .container #page_name {
  color: rgb(245, 245, 245);
  padding: 20px;
  font-weight: 100;
  font-size: 30px;
  font-family: "Noto Sans NKo", sans-serif;
  font-family: "Satisfy", cursive;
}
body #side_Content .header .container #button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border: none;
  outline: none;
  background-color: black;
  color: #fff;
  margin: 6px;
  font-family: "Urbanist", sans-serif;
}
body #side_Content .header .container .link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
body #side_Content .header .container .link .width {
  width: 220px;
  height: 40px;
  font-size: 17px;
}
body #side_Content .header .container #img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}
body #side_Content .header .container .menu {
  position: relative;
  top: 230px;
}
body #side_Content .header .container #button:hover {
  background-color: #24282e;
  border-radius: 20px;
}
body #side_Content .section {
  overflow: scroll;
  font-family: "Urbanist", sans-serif;
}
body #side_Content .section #border {
  width: 440px;
  margin: auto;
  margin-top: 40px;
}
body #side_Content .section #border #a {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #side_Content .section #border #a .my {
  display: flex;
  align-items: center;
}
body #side_Content .section #border #a .my #link_account {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-family: "Urbanist", sans-serif;
}
body #side_Content .section #border #a .my #charlesDP {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  padding: 5px;
  cursor: pointer;
}
body #side_Content .section #border #a .my #charlesUserName {
  font-family: "Urbanist", sans-serif;
  font-size: 13px;
}
body #side_Content .section #border #a .my #charlesUserName:hover {
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .section #border #a .my #verifiedIcon {
  font-size: 14px;
  color: #3578e5;
  margin: 5px;
  cursor: pointer;
}
body #side_Content .section #border #a #list {
  font-size: 12px;
  cursor: pointer;
  margin-right: 10px;
}
body #side_Content .section #border #a #list:hover {
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .section #border #b {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(126, 127, 128, 0.691);
  border-radius: 10px;
}
body #side_Content .section #border #b .navigate_before_button {
  position: relative;
  left: 30px;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(234, 246, 255, 0.597);
}
body #side_Content .section #border #b .navigate_before_button #navigate_before {
  color: #24282e;
  font-size: 20px;
}
body #side_Content .section #border #b .navigate_next_button {
  position: relative;
  right: 30px;
  border-radius: 40px;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: rgba(234, 246, 255, 0.597);
}
body #side_Content .section #border #b .navigate_next_button #navigate_next {
  color: #24282e;
  font-size: 20px;
}
body #side_Content .section #border #b #p {
  width: 85%;
  height: 79vh;
}
body #side_Content .section #border #c {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
  font-family: "Urbanist", sans-serif;
}
body #side_Content .section #border #c .l_s_c_s {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #side_Content .section #border #c .l_s_c_s #l_c_s {
  display: flex;
  align-items: center;
}
body #side_Content .section #border #c .l_s_c_s #l_c_s .button {
  border: none;
  outline: none;
  background-color: black;
  padding: 5px;
  margin: 4px;
  cursor: pointer;
}
body #side_Content .section #border #c .l_s_c_s #l_c_s .button #buttonNum1:hover {
  fill: rgba(243, 250, 255, 0.549);
}
body #side_Content .section #border #c .l_s_c_s #l_c_s .button2 {
  border: none;
  outline: none;
  background-color: black;
  padding: 5px;
  margin: 4px;
  cursor: pointer;
}
body #side_Content .section #border #c .l_s_c_s #l_c_s .button2 #buttonNum2:hover {
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .section #border #c .l_s_c_s #l_c_s .button3 {
  border: none;
  outline: none;
  background-color: black;
  padding: 5px;
  margin: 4px;
  cursor: pointer;
}
body #side_Content .section #border #c .l_s_c_s #l_c_s .button3 #buttonNum3:hover {
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .section #border #c .l_s_c_s .button4 {
  border: none;
  outline: none;
  background-color: black;
  padding: 5px;
  margin: 4px;
  cursor: pointer;
}
body #side_Content .section #border #c .l_s_c_s .button4 #buttonNum4:hover {
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .section #border #c #commentsSection_container {
  display: flex;
  align-items: center;
}
body #side_Content .section #border #c .CommentDisplay {
  color: rgba(243, 250, 255, 0.549);
  padding: 6px;
  font-family: "Urbanist", sans-serif;
}
body #side_Content .section #border #c #inputComment {
  outline: none;
  border: none;
  background-color: black;
  color: #fff;
  width: 98%;
  padding: 5px;
  font-family: "Urbanist", sans-serif;
  margin: 4px;
}
body #side_Content .section #border .listMenu {
  display: none;
  flex-direction: column;
  position: relative;
  bottom: 776px;
  left: 90px;
  border: 1px solid #24282e;
  border-radius: 9px;
  padding: 1px;
  width: 90%;
  background-color: #282828;
}
body #side_Content .section #border .listMenu #menuButton {
  background-color: #282828;
  color: #fff;
  padding: 17px;
  outline: none;
  border: none;
  border-bottom: 1px solid #363738;
}
body #side_Content .section #border .listMenu #menuButton #report {
  color: #fa383e;
}
body #side_Content .section #border .listMenu #menuButton #unfollow {
  color: #fa383e;
}
body #side_Content .section #border .listMenu #menuButtonCancel {
  background-color: #282828;
  color: #fff;
  padding: 17px;
  outline: none;
  border: none;
}
body #side_Content .footer {
  display: flex;
  flex-direction: column;
  font-family: "Urbanist", sans-serif;
}
body #side_Content .footer #archibongezekie_Profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body #side_Content .footer #archibongezekie_Profile .archibongezekie_Picture_Container {
  display: flex;
  align-items: center;
  padding: 10px;
}
body #side_Content .footer #archibongezekie_Profile .archibongezekie_Picture_Container #archibongezekie_Picture {
  width: 60px;
  height: px;
  border-radius: 50px;
  padding: 5px;
}
body #side_Content .footer #archibongezekie_Profile .archibongezekie_Picture_Container a {
  text-decoration: none;
}
body #side_Content .footer #archibongezekie_Profile .archibongezekie_Picture_Container .userName_userIgName_Container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
body #side_Content .footer #archibongezekie_Profile .archibongezekie_Picture_Container .userName_userIgName_Container #archibongezekie_userName {
  color: #fff;
}
body #side_Content .footer #archibongezekie_Profile .archibongezekie_Picture_Container #Ezekiel_Archiong {
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .footer #archibongezekie_Profile .switchAccount_Container {
  position: relative;
  right: 80px;
}
body #side_Content .footer #archibongezekie_Profile .switchAccount_Container a {
  text-decoration: none;
  color: #1877f2;
}
body #side_Content .footer .Suggested_For_You {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}
body #side_Content .footer .Suggested_For_You #Suggestion {
  color: rgba(243, 250, 255, 0.549);
  padding-left: 19px;
}
body #side_Content .footer .Suggested_For_You #see_All {
  padding: 10px;
  color: #fff;
  position: relative;
  right: 70px;
}
body #side_Content .footer .Suggested_For_You #see_All:hover {
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .footer .kiely_Wrld_Profile_Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  position: relative;
  left: 10px;
  font-size: 15px;
}
body #side_Content .footer .kiely_Wrld_Profile_Container #kielyWrld_picture_container {
  display: flex;
  align-items: center;
  padding: 5px;
}
body #side_Content .footer .kiely_Wrld_Profile_Container #kiely_Wrld_photo {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  padding: 5px;
}
body #side_Content .footer .kiely_Wrld_Profile_Container a {
  text-decoration: none;
}
body #side_Content .footer .kiely_Wrld_Profile_Container .userName1_userIgName1_Container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
body #side_Content .footer .kiely_Wrld_Profile_Container .userName1_userIgName1_Container #kiely_Wrld_userName {
  color: #fff;
}
body #side_Content .footer .kiely_Wrld_Profile_Container .userName1_userIgName1_Container #Ezekiel_Bassey {
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .footer .kiely_Wrld_Profile_Container .follow_Container1 {
  position: relative;
  right: 50px;
}
body #side_Content .footer .kiely_Wrld_Profile_Container .follow_Container1 #f {
  text-decoration: none;
  color: #1877f2;
}
body #side_Content .footer .kiely_Wrld_Profile_Container .follow_Container1 #f:hover {
  color: white;
}
body #side_Content .footer #page_information_Container {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
  left: 10px;
  top: 35px;
  padding: 4px;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  color: rgba(243, 250, 255, 0.549);
}
body #side_Content .footer #page_information_Container .page_information {
  display: flex;
  align-items: center;
}
body #side_Content .footer #page_information_Container .page_information .b {
  margin: 5px;
}
body #side_Content .footer #page_information_Container .page_information .b:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
body #side_Content .footer #page_information_Container .about_page {
  display: flex;
  align-items: center;
}
body #side_Content .footer #page_information_Container .about_page .b {
  margin: 5px;
}
body #side_Content .footer #page_information_Container .about_page .b:hover {
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
}
body #side_Content .footer #page_information_Container .about_page #language_selection {
  appearance: none;
  border: none;
  outline: none;
  background-color: black;
  color: rgba(243, 250, 255, 0.549);
  font-family: "Urbanist", sans-serif;
  margin: 5px;
}
body #side_Content .footer #page_information_Container #copy_right {
  display: flex;
  align-items: center;
  margin-top: 15px;
}
body #side_Content .footer .ezekielDashboard {
  border-radius: 40px;
  font-family: "Urbanist", sans-serif;
  position: relative;
  bottom: 40%;
  display: none;
  width: 80%;
}
body #side_Content .footer .ezekielDashboard #ezekielSuggestion_container {
  display: flex;
  align-items: center;
  background-color: black;
  margin-left: 5px;
  padding: 10px;
}
body #side_Content .footer .ezekielDashboard #ezekielSuggestion_container #ezekielRandom_Photo {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  padding: 8px;
}
body #side_Content .footer .ezekielDashboard #ezekielSuggestion_container #ezekielRandom_Name,
body #side_Content .footer .ezekielDashboard #ezekielSuggestion_container #ezekielRandom_UserName {
  font-size: 14px;
}
body #side_Content .footer .ezekielDashboard #ezekielSuggestion_container .ezekielSuggestion_Name_container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
  font-size: 15px;
}
body #side_Content .footer .ezekielDashboard .ezekielPost_Follower_Following {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
  font-family: "Urbanist", sans-serif;
  background-color: black;
  padding: 10px;
}
body #side_Content .footer .ezekielDashboard .ezekielPost_Follower_Following #ezekielPosts,
body #side_Content .footer .ezekielDashboard .ezekielPost_Follower_Following #ezekielFollower,
body #side_Content .footer .ezekielDashboard .ezekielPost_Follower_Following #ezekielFollowing {
  text-align: center;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
  background-color: black;
  font-size: 13px;
}
body #side_Content .footer #ezekielPost_center {
  text-align: center;
  padding: 10px;
  font-family: "Urbanist", sans-serif;
  background-color: black;
  font-size: 13px;
}
body #side_Content .footer #ezekielPost_center #ezekielAdd_post {
  margin: 10px;
  font-size: 13px;
}
body #side_Content .footer #ezekielPost_center #ezekielAdd_a_photo_icon {
  font-size: 4vh;
  background: linear-gradient(black, black) padding-box, linear-gradient(to right, orange, darkorchid) border-box;
  border-radius: 50em;
  border: 2px solid transparent;
  padding: 10px;
}
body #side_Content .footer #ezekielPost_center #ezekiel1 {
  font-size: 16px;
}
body #side_Content .footer #ezekielPost_center #ezekiel_p {
  margin: 13px;
  padding: 10px;
  border-bottom: 1px solid rgba(243, 250, 255, 0.549);
  background-color: black;
  font-size: 13px;
}
body #side_Content .footer #ezekielPost_center .ezekielFollow_button {
  outline: none;
  border: none;
  background: #1877f2;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 5px;
  margin: auto;
  width: 79%;
  font-size: 15px;
  font-family: "Urbanist", sans-serif;
}
body #side_Content .footer #graces {
  border-radius: 40px;
  font-family: "Urbanist", sans-serif;
  position: relative;
  bottom: 40%;
}/*# sourceMappingURL=style.css.map */