* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: #fff;

  #scroll {
    display: grid;
    grid-template-columns: 240px 83%;
    grid-template-rows: 100vh;
    .header {
      display: flex;
      flex-direction: column;
      border-right: 1px solid rgba(132, 151, 164, 0.2);
      overflow: hidden;
      .container {
        display: flex;
        flex-direction: column;
        margin: 5px;
        margin-top: 10px;
        font-family: "Urbanist", sans-serif;

        #paragrach {
          padding: 5px;
          font-size: 17px;
        }
        #page_name {
          color: rgb(245, 245, 245);
          padding: 20px;
          font-weight: 100;
          font-size: 30px;
          font-family: "Noto Sans NKo", sans-serif;
          font-family: "Satisfy", cursive;
        }
        #home {
          text-decoration: none;
        }
        .home {
          width: 210px;
        }
        #button {
          display: flex;
          align-items: center;
          cursor: pointer;
          padding: 5px;
          border: none;
          outline: none;
          background-color: black;
          color: #fff;
          margin: 6px;
          font-family: "Urbanist", sans-serif;
        }
        .link {
          display: flex;
          align-items: center;
          color: #fff;
          text-decoration: none;
          .width {
            width: 220px;
            height: 40px;
            font-size: 17px;
          }
        }
        #img {
          width: 30px;
          height: 30px;
          border-radius: 50px;
        }
        .menu {
          position: relative;
          top: 230px;
        }
        #button:hover {
          background-color: #24282e;
          border-radius: 20px;
        }
      }
    }
    /*information-container */
    .information-container {
      overflow: scroll;
      #charlesDetail {
        display: grid;
        grid-template-columns: 310px 67%;
        grid-template-rows: 300px;
        width: 79%;
        margin: auto;
        border-bottom: 1px solid #1c1e21;
        #num1 {
          margin: auto;
          #zealcode_photo {
            border-radius: 100px;
          }
        }
        #num {
          border: 2px solid blu;

          .information {
            display: flex;
            align-items: center;
            margin-top: 25px;
            width: 420px;
            #zealcodes {
              font-family: "Urbanist", sans-serif;
              font-weight: 100;
              font-size: 18px;
              margin-right: 25px;
            }
            .button {
              outline: none;
              border: none;
              width: 100px;
              height: 30px;
              margin: 5px;
              border-radius: 8px;
            }
            #followingButton {
              display: flex;
              align-items: center;
              justify-content: center;
            }
            #person_add {
              border: none;
              outline: none;
              border-radius: 9px;
              color: #24282e;
              padding: 7px;
              background-color: #fff;
              margin: 3px;
              height: 30px;

              #person_add_icon {
                font-size: 18px;
              }
            }
            #menu_icon {
              border: none;
              outline: none;
              background-color: black;
              color: #fff;
              margin: 5px;
            }
          }

          .follow_list {
            display: flex;
            align-items: center;
            padding: 2px;
            font-family: "Mukta", sans-serif;
            width: 420px;
            margin-top: 26px;
            #post_number {
              font-family: "Mukta", sans-serif;
              font-weight: 100;
              font-size: 15px;
              margin-right: 40px;
            }
            #followers_number {
              font-family: "Mukta", sans-serif;
              font-weight: 100;
              font-size: 15px;

              margin-right: 40px;
            }
            #followings_number {
              font-family: "Mukta", sans-serif;
              font-weight: 100;
              font-size: 15px;
              margin: 5px;
            }
          }
          .bio_name_link {
            font-family: "Abel", sans-serif;
            font-size: 15px;
            margin-top: 25px;
            #a,
            #b,
            #c {
              padding: 1px;
            }
            #b {
              color: rgb(168, 168, 168);
            }
            padding: 1px;
            #website_link {
              text-decoration: none;
              color: #fff;
            }
            #website_link:hover {
              border-bottom: 1px solid #f2f3f5;
            }
            #d {
              margin-top: 13px;
            }
            #e {
              font-weight: bolder;
              font-size: 15px;
            }
          }
        }
      }
      #Suggested_list {
        display: none;
        border: 1px solid #24282e;
        width: 114vh;
        margin: 10px;
        padding: 5px;
        .title {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px;
          margin: auto;
          width: 93%;
          #a {
            color: rgb(168, 168, 168);
            font-weight: bolder;
            font-family: "Agdasima", sans-serif;
          }
          #b {
            color: #1877f2;
            font-weight: bolder;
            font-family: "Agdasima", sans-serif;
            cursor: pointer;
          }
        }
      }
      .Suggested_list {
        display: flex;
        align-items: center;
        overflow-y: hidden;
        overflow-x: auto;
        white-space: nowrap;
        height: 220px;
        padding: 10px;
        #Suggested_num1 {
          margin: 13px;
          border: 1px solid #24282e;
          padding: 40px;
          height: 196px;
          text-align: center;
          #img_sugges {
            width: 50px;
            height: 50px;
            border-radius: 50px;
          }

          #p {
            text-align: center;
            padding: 4px;
            font-size: 12px;
            font-family: "Agdasima", sans-serif;
            font-weight: bold;
          }
          #p2 {
            font-size: 14px;
            padding: 5px;
            color: rgb(168, 168, 168);
            font-family: "Agdasima", sans-serif;
          }
          #follow {
            outline: none;
            border: none;
            background-color: #77a7ff;
            color: #fff;
            padding: 7px;
            width: 86px;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
          }
          #follow:hover {
            background-color: #3578e5;
          }
        }
      }
      .a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 79%;
        margin: auto;
        #a {
          display: flex;
          align-items: center;
          position: relative;
          right: 70px;
          color: #fff;
          font-family: "Mukta", sans-serif;
          border-top: 1px solid #fff;
          font-weight: 100px;
          font-size: 13px;
          padding: 5px;
          height: 50px;

          #b {
            margin-right: 5px;
          }
        }
        .b {
          display: flex;
          align-items: center;
          font-family: "Mukta", sans-serif;
          font-weight: 100px;
          font-size: 14px;
          height: 50px;
          color: rgb(168, 168, 168);
          #b {
            margin-right: 5px;
          }
        }
        .c {
          display: flex;
          align-items: center;
          font-family: "Mukta", sans-serif;
          font-weight: 100px;
          font-size: 14px;
          height: 50px;
          position: relative;
          left: 58px;
          color: rgb(168, 168, 168);
          #c {
            margin-right: 5px;
          }
        }
      }
      .account_display {
        display: none;
        background-color: #121214;
        border-radius: 15px;
        width: 410px;
        height: 50%;
        position: fixed;
        right: 500px;
        bottom: 200px;
        .ac_be {
          display: flex;
          text-align: center;
          flex-direction: column;
          justify-content: center;
          padding-top: 15px;
          #cha_pic {
            width: 70px;
            height: 70px;
            border-radius: 50px;
            margin: auto;
            padding: 4px;
          }
        }
        #close_icon {
          position: relative;
          bottom: 98px;
          left: 179px;
          font-size: 28px;
          cursor: pointer;
        }
        .button_container {
          display: flex;
          flex-direction: column;
          #star1 {
            border: 1px solid #fff;
            border-radius: 15px;
            color: rgb(0, 0, 0);
            cursor: pointer;
          }
          #add_star {
            display: flex;
            align-items: center;
            justify-content: space-between;
            outline: none;
            border: none;
            padding: 15px;
            background-color: #121214;
            color: #fff;
          }
        }
        #add_star:hover {
          background-color: #1c1f20;
        }
      }
      .sharing-of-photos {
        display: flex;
        flex-direction: column;
        width: 79%;
        margin: auto;
        .section1 {
          display: flex;
          margin: 3px;
          align-items: center;
          margin: auto;
          #album1 {
            width: 300px;
            height: 330px;
            margin: 5px;
          }
        }
        .section2 {
          display: flex;
          margin: 3px;
          align-items: center;
          margin: auto;
          #album2 {
            width: 300px;
            height: 330px;
            margin: 5px;
          }
        }
        .section3 {
          display: flex;
          margin: 3px;
          align-items: center;
          margin: auto;
          #album3 {
            width: 300px;
            height: 330px;
            margin: 5px;
          }
        }
        .option-select {
          border: 1px solid red;
        }
        .section4 {
          display: flex;
          margin: 3px;
          align-items: center;
          box-sizing: border-box;
          margin: auto;
          #album4 {
            width: 300px;
            height: 330px;
            margin: 5px;
          }
        }
      }

      .footer {
        display: none;
        background-color: #121214;
        border-radius: 10px;
        width: 410px;
        height: 50%;
        position: fixed;
        right: 500px;
        bottom: 200px;

        #similar_account_container {
          display: flex;
          align-items: center;
          justify-content: space-around;
          border-bottom: 1px solid #24282e;
          overflow: hidden;
        }
      }
    }
  }
}
// display: grid;
// grid-template-columns: 310px 310px 310px 310px;
// grid-template-rows: 300px;
